<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcl.anth.menu.mapper.MenuMapper">
    <select id="queryMenusByRId" resultType="Menu">
        select m.*
        from t_role r
                 join t_user_role ur
                      on r.r_id = ur.r_id
                 join t_menu m
                      on ur.m_id = m.m_id
        where r.r_id = #{rId}
          and is_navigtion = '0'
        order by m.m_sort, m.m_name desc
    </select>

    <delete id="deleteMensByRid">
        delete
        from t_user_role
        where r_id = #{rId}
    </delete>
    <insert id="insertBindMenvos">
        <selectKey keyProperty="rmId" resultType="java.lang.String" order="BEFORE">
            select REPLACE(UUID(),'-','')
        </selectKey>
        INSERT INTO t_user_role (rm_id, r_id, m_id)
        VALUES (#{rmId}, #{rId}, #{mId});
    </insert>
</mapper>