<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcl.basic.redisqueue.mapper.RedisQueueMapper">
    <insert id="saveBatch" parameterType="RedisQueue">
        insert into redis_queue(entity_id,action_type)
        VALUES
        <foreach collection ="list" item="redisQueue" separator =",">
            (#{redisQueue.entityId}, #{redisQueue.actionType})
        </foreach >
    </insert>
</mapper>